li{
  list-style: none;
}

/* background */
.box-1 {
  width: 640px;
  height: 427px;
  background-image: url(./images/man-2.webp), url(./images/girl.webp),
    url(./images/man-1.webp), url(./images/img.jpeg);
  background-repeat: no-repeat;
  background-size: 70px, 100px, contain, cover;
  background-position: right 20%, left 30% top 30%, right, center;
}

.box-2 {
  margin-top: 50px;
  width: 500px;
  height: 300px;
  background-color: purple;
  background-image: url(./images/birdie.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
}

.box-3 {
  margin-top: 50px;
  width: 500px;
  height: 300px;
  background-color: aquamarine;
  background-image: url(./images/cat.webp);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 70px;
}

.box-4 {
  margin-top: 50px;
  width: 500px;
  height: 300px;
  background-color: rgb(163, 127, 255);
  background-image: url(./images/dog.webp);
  background-position: left;
  background-repeat: repeat-y;
  background-size: 70px;
}

.box-5 {
  margin-top: 50px;
  width: 500px;
  height: 300px;
  background-color: rgb(225, 255, 127);
  background-image: url(./images/turtle.webp);
}

/* prise */
.price-list{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
}

.el{
  content: '';
  color: black;
  background-image: url(./images/turtle.webp);
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  width: 100%;
  height: 50px;
}

.price-list > .item{
  background-color: azure;
}


.price-text{
  font-size: 12px;
  color: rgb(58, 56, 56);
  
}

.price-btn{}